body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    margin: 0rem;
    overflow: hidden;
    cursor: url('../imgs/occhio.png'), auto;
}



#text{
    text-align: center;
    margin-top: 50px;
}

#entry1{
    position: absolute;
    top: 200px;
    left: 10%;
    padding: 20px;
    opacity: 0;
    transition: all 4s ease-in-out;
}
#entry1:hover{
    opacity: 1;
    transition: all 4s ease-in-out;
}

#entry2{
    position: absolute;
    top: 400px;
    left: 60%;
    padding: 20px;
    opacity: 0;
    transition: all 4s ease-in-out;
}
#entry2:hover{
    opacity: 1;
    transition: all 4s ease-in-out;
}