body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    margin: 0rem;
    overflow: hidden;
}
#top_bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    padding-top: 50px;
}

#scroller{
    height: 420px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#scroller .image{
    width: 240px;
    height: 400px;
    object-fit: cover;
    object-position: 50% 50%;
    transition: all 1s ease-in-out;
}

#scroller .image:hover{
    transform: scale(1.05);
    transition: all 1s ease-in-out;
    box-shadow: 0px 0px 10px 5px grey;
}

